################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/VisualStudio/NonRecursives/NonRecursives/bin/Debug
/VisualStudio/NonRecursives/NonRecursives/obj/Debug
VScode/bin/Debug/netcoreapp1.1/VScode.dll
VScode/bin/Debug/netcoreapp1.1/VScode.pdb
VScode/obj/Debug/netcoreapp1.1/VScode.dll
VScode/obj/Debug/netcoreapp1.1/VScode.pdb
VScode/obj/Debug/netcoreapp1.1/project.razor.json
VScode/obj/Debug/netcoreapp1.1/VScode.pdb
VScode/obj/Debug/
VScode/obj/Debug/netcoreapp1.1/CoreCompileInputs.cache
VScode/obj/Debug/netcoreapp1.1/VScode.csproj.CoreCompileInputs.cache