################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
ds_algo/C#/algoexpert/obj/
ds_algo/C#/algoexpert/bin/
ds_algo/C#/general/obj/
ds_algo/C#/general/bin/