################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/VisualStudio/NonRecursives/NonRecursives/bin/
VisualStudio/NonRecursives/NonRecursives/obj/
VScode/obj/
VScode/bin/
VScode/.vs/
dhivya-java/my-java-problem-solving/bin
